body {
    box-sizing: border-box;
    background-color: rgb(205, 50, 153);
    
}
/*
h1, h4 {
    text-align: center;
}

.input-form {
    box-sizing: border-box;
    display:block;
    color: rgb(13, 67, 129);
    font-size: 25px;
    width: 80%;
    padding: 10px 20px;
    margin-left: 100px;


.items {
    
    color:blue;
    font-weight: 700;
    font-size: 18px;
}
#Age {
    display: inline;
    color:rgb(17, 104, 97);
    font-weight: 700;
    font-size: 28px;
}*/
#funcCompo {grid-area: header}
#foodList {grid-area: inleft}
#main {grid-area: main}
#Class_2Compo {grid-area: inright}
.index-container {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'inleft main main inright'
    'inleft main main inright'
    'inleft main main inright'
    'inleft main main inright';
    padding: 10px;
    grid-gap: 10px;
}
.items {
    background-color: rgb(232, 194, 207);
    text-align: center;
}
